body{
    margin:0;
}

.player-username{
    width: 100px;
}

.title-header{
    font-size: 55px;
    margin-top: 50px;
}
.select-player{
    margin-top:50px;
    display:none;
}

.select-player p{
    font-size: 38px;
}
.select-player button{
    margin:20px;
}
 .done-button{
     text-align:center;
     margin-top:100px;
 }

 .begin{
     text-align:center;
 }

 .begin a{
     font-size:48px;
 }

 .pick-game-text {
    font-size:48px;
    display:none;
}

.games a{
    font-size:32px;
}
